html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-size: 1.2em;
}

header {
  overflow: hidden;
  height: 60px;
  padding: 0 20px;
  background-color: #06D6A0;
  text-align: center;
}

.logo {
   float: left;
   line-height: 60px;
   font-size: 18px;
   margin: 0;
   color: white;
 }

.navbar {
  float: right;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
  line-height: 60px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.welcome {
  overflow: hidden;
  background-color: #26547C;
  color: white;
}

img {
  max-width: 100%;
}

.welcome-img {
  float: left;
  width: 60%;
}

.welcome-msg {
  float: left;
  width: 40%;
  font-size: 25px;
  text-align: center;
}

.main-content {
  background-color: #FFD166;
  padding: 30px 20px;
}

.products {
  background-color: #F2F2F2;
  padding: 30px 20px;
  overflow: hidden;
}

.prod-wrapper {
  overflow: hidden;
}

.product-item {
  float: left;
  width: 30%;
  padding: 10px;
}

.product-item > img {
  border: 3px solid black;
}
